<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование данных</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/users/{id}(id=${userById.getId()})}" th:object="${userById}">
  <label for="firstname">Введите имя: </label>
  <input type="text" th:field="*{firstName}" id="firstname"/>
  <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Ошибка в имени</div>
  <br/>
  <label for="lastname">Введите фамлию: </label>
  <input type="text" th:field="*{lastName}" id="lastname"/>
  <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Ошибка в фамилии</div>
  <br/>
  <label for="gender">Введите пол: </label>
  <input type="text" th:field="*{gender}" id="gender"/>
  <div style="color:red" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">Ошибка в поле</div>
  <br/>
  <input type="submit" value="Изменить"/>
</form>

</body>
</html>